.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.items{
  flex: 1 1 auto;
  justify-content: center;
  align-items: center;
}

.buy, .sell{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: auto;
  margin-top:3rem;
}

.buy > button, .sell > button {
  width: 100%;
  height: 3rem;
  font-size: larger;
  outline: none;
  border: transparent;
  box-sizing: border-box;
  box-shadow: #12121280;
  cursor: pointer;
}

.buy > button {
  background-color: #05d405;
}

.sell > button {
  background-color: #ff0000;
}
